.row{
    height: 100dvh;
}

/* FORM */

.contenedor-form-super{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-form{
    width: 80%;
}

.form-group{
    padding-top: 20px;
}

.form-group label{
    display: flex;
    padding-bottom: 10px;  
}

.form-control{
    border: 2px solid rgb(231, 230, 230);
}

.olvidaste-recordar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-form .btn{
    display: flex;
    background-color: rgb(14, 25, 61);
    border: none;
    margin-top: 20px;
    padding: 9px 20px 9px 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.contenedor-form .btn:hover{
    cursor: pointer;
    background-color: rgb(24, 44, 110);
}

.login{
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    padding-bottom: 40px;
    /* align-items: left; */
    font-family: 'Inter', sans-serif;
}

.olvidaste-link{
    text-decoration: underline;
    display: flex;
    /* align-items: left; */
}

.btn-google{
    border: 2px solid rgb(243, 243, 243);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: 'Inter', sans-serif;
}

.google-icon{
    width: 25px;
}

@media (max-width: 1080px) {

    .contenedor-form-super{
        width: 70%;
        height: 100vh;
        display: flex;
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .olvidaste-recordar{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {

    .btn-google p{
        display: none;
    }

    .contenedor-form .btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}