.principal{
    background: #efefef;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 30px;
    
         
}
.icono-google{
    width: 20px;   
    margin-right: 15px;
}

.img {
    
    object-fit: contain;
 }